.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 65%;
    background-color: #2f1d58;
    height: 80vh;
    overflow: auto;
    flex-direction: row;
}

.FlexContainer div {
    width: 200px;
    height: 45px;
    margin: 5px;
    background-color: lightblue;
}
